.App {
  text-align: center;
}

form {
  height: 250px;
  width: 400px;
  top: 50vh; 
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: salmon solid 1px; 
}

.input-label {
  font-size: 20px;
}

.logout-btn {
  margin: 10px;
  text-transform: capitalize;
  padding: 15px;
  font-size: large;
  background-color: #61dafb;
  border-color: #61dafb;
  letter-spacing: 2px;
}

.login-btn {
  margin: 5px;
  letter-spacing: 2px;
  background-color: #61dafb;
  border-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card-img, .img {
  height: 350px;
  width: 350px;
  margin: auto;
}

.card-details {
  font-size: 20px;
  padding-bottom: 10px;
}

.card-container {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  border: #61dafb solid 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
